@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Black";
    src: local("Roboto-Black"),url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"),url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"),url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaSans-Bold";
    src: local("AlegreyaSans-Bold"),url("./assets/fonts/AlegreyaSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaSans-Thin";
    src: local("AlegreyaSans-Thin"),url("./assets/fonts/AlegreyaSans-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "AlegreyaSans-Light";
    src: local("AlegreyaSans-Light"),url("./assets/fonts/AlegreyaSans-Light.ttf") format("truetype");
}

::-webkit-scrollbar{
    width: 8px;
}


::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 4px;
}


.parentCard:hover .childCard{
    transform: translateY(0);
    opacity:100%;
}

.guestParentCard:hover .guestChildCard{
    opacity: 100%;
}
